:root{
  --dark-grey:#1F2425;
  --niagara:#25A48E;
  --cabaret:#D94776;
  --romance:#FFFFFE;
  font-size: 16px;
}

@font-face {
  font-family: 'Concert One', cursive;
  font-family: 'Work Sans', sans-serif;
}

 .centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Concert-One{
  font-family: 'Concert One', cursive;
}

.Work-Sans-Light{
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.Work-Sans-Regular{
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.Work-Sans-Semi-Bold{
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}

.Work-Sans-Black{
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
}

body{
  /*height: 100vh;*/
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 350px) and (max-width: 768px) {
  #welcome-message{
    margin-top:2rem !important;
  }

  #welcome-message, .alert-warning{
    font-size: .85rem !important;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }

  .form-bottom-button{
    margin-bottom: 1.5rem !important;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }


#form-container{
  background-color: rgba(235,235,235,.31);
  border-top: solid .75rem;
  border-color: #CA8FFF;
}

#form-bottom-container{
  border-top: solid .75rem;
  border-color: #CA8FFF;
}

.container-border{
  /*height: .75rem;*/
  /*background-color: #CA8FFF;*/
}

#content-container{
  /*height: 65vh;*/
}

#form-bottom-container{
  background-color: white;
}

.form-bottom-button{
  cursor: pointer;
  padding: 1rem;
  background-color: rgba(235,235,235,.31);
  border-radius: 5rem;
}

.form-bottom-button:hover{
  background-color: rgba(144,19,254,.47);
  transition: all .65s;
}